@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");

/* Global recommended reset */
*,
*::before,
*::after {
  box-sizing: border-box;
	margin: 0;
padding: 0;
}

body {
background-color: #dacbf3;
opacity: 1;
background-image: radial-gradient(#4c0ef3 1.4500000000000002px, #dacbf3 1.4500000000000002px);
background-size: 34px 32px;

}

main {
display: flex;
flex-direction: column;
align-items: center;
max-height: 100dvh;
padding: 1rem 0;
}